.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url('https://wallpaperaccess.com/full/5460085.jpg');
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 80px;
  background-color: #0b0b0b82;

  border: 1px solid #807a7a;
  border-radius: 10px;
}

h2 {
  margin-bottom: 15px;
  color: #fff;
  font-size: 28px;
}

input,
button {
  margin-top: 10px;
  border: none;
  width: 220px;
  height: 40px;
  padding: 10px;
  border: 1px solid #868585;
  cursor: pointer;
  border-radius: 5px;
}

input {
  border: 1px solid #adacac;
  font-size: 16px;
}

button {
  background: green;
  font-weight: bold;
  font-size: 16px;
  color: #ddd;
  border: 1px solid #9795955a;
  cursor: pointer;
  border-radius: 5px;
}

a {
  margin-top: 15px;
  font-size: 12px;
  color: #fff;
}

p {
  color: #fff;
  font-size: 13px;
}

button:hover {
  cursor: pointer;
  background: #006900;
}