.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-image: url('https://wallpaperaccess.com/full/5460085.jpg');
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 80px;
  background-color: #0b0b0b82;

  border: 1px solid #807a7a;
  border-radius: 10px;
}