.books {
  width: 100%;
  min-height: 100vh;
  background-image: url('https://wallpaperaccess.com/full/5460085.jpg');
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

}

.container {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  min-width: 600px;
  border: 1px solid rgb(192, 186, 186, 0.2);
  background-color: rgba(12, 12, 12, 0.632);
}

.img {
  width: 100px;
  height: 150px;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-left: 30px;
  border: 1px solid rgb(192, 186, 186, 0.2);
  box-shadow: rgba(187, 185, 186, 0.4) -5px 5px,
    rgba(187, 185, 186, 0.3) -10px 10px, rgba(187, 185, 186, 0.2) -15px 15px,
    rgba(187, 185, 186, 0.1) -20px 20px, rgba(187, 185, 186, 0.05) -25px 25px;

}

.ul {
  border: #555 solid 1px;
  border-radius: 12px;
  margin: 7px;
  padding: 10px 20px;
  min-width: 250px;
  max-width: 250px;
  background-color: rgba(12, 12, 12, 0.739);
}


.li {
  margin-top: 10px;
  background-color: transparent;


}

.h4 {
  height: 150px;
  font-size: 14px;
  font-weight: 400;
  border: 1px dashed #eeeeee77;
  padding: 10px;
}

.title {
  font-size: 16px;
  margin-top: 20px;
  background-color: transparent;

}


.text {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  background-color: transparent;

}

.author {
  font-size: 14px;
  font-weight: 400;
  margin-top: -10px;
  margin-bottom: 20px;
  background-color: transparent;

}

.content {
  display: flex;
  justify-content: space-between;
  background-color: transparent;

}

.nav {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav ul {
  background: transparent;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.nav li {
  background: transparent;
  display: flex;
  width: 90px;
  justify-content: center;
  align-items: center;
  border: 1px solid #555;
  border-radius: 7px;
  margin: 5px;
}

.nav li:hover {
  background: #555;
  color: #fff;
}


.nav button {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  border: none;
  color: #fff;

  font-size: 16px;
}

.nav a {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  color: #fff;
}

.icon {
  background: transparent;
  margin-right: 5px;
  font-size: 16px;
}


.modal_fade {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.modal_button {
  display: flex;
  justify-content: center;
}

.modal_button button {
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 40px;
  border: none;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
  border: 1px solid #555;
}

.modal_button button:hover {
  background: #555;
  color: #fff;
  cursor: pointer;

}

.modal {
  width: 600px;
  height: 300px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}