* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  scrollbar-width: none;
}

/*=== JSS used ===*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #252525;
}



html {
  scrollbar-width: none;
  /* ParaFirefox */
  -ms-overflow-style: none;
  /* Para Internet Explorer e Edge */
}

html::-webkit-scrollbar {
  width: 0px;
  /* Para Chrome, Safari, e Opera */
}