* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  background: #252525;
  color: #eee;

  font-family: sans-serif;

}

.App {
  font-family: sans-serif;
  display: flex;
}

li,
a {
  text-decoration: none;
  list-style: none;
}