* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  scrollbar-width: none;

}

body {
  background: #252525;
  color: #fff;
}

html {
  scrollbar-width: none;
  /* ParaFirefox */
  -ms-overflow-style: none;
  /* Para Internet Explorer e Edge */
}

html::-webkit-scrollbar {
  width: 0px;
  /* Para Chrome, Safari, e Opera */
}